body {
    display: flex;
}
.leftSide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 23%;
}
.leftSide.over {
    width: 100%;
}
div {
    height: 50px;
    width: 50px;
}
div.maze {
    border: none;
}
div:nth-of-type(1), div:nth-of-type(2), div:nth-of-type(3), div:nth-of-type(4), div:nth-of-type(5) {
    border-top: 0px solid black;
}
/* div:last-of-type {
    /* QUICK FIX FOR HIDING LAST DIV... 
    display: none;
} */
.north {
    border-top: 0px !important;
}
.east {
    border-right: 0px !important;
}
.south {
    border-bottom: 0px !important;
}
.west {
    border-left: 0px !important;
}
div.treasure {
    background-image: url('./img/goldCoins.png');
    background-size: cover;
}
div.enemy {
    background-image: url('./img/enemy.png');
    background-size: cover;
}
/* div:nth-of-type(1) {
    background-image: none;
} */
div#maze {
    border: 1px solid black !important;
    height: 260px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#maze > div {
    border: 1px solid black;
    background-color: white;
}

.hero {
    background-image: url('./img/hero.png');
    background-size: cover;
}
/* @media only screen and (min-width: 1300px) {
    .hero {
        left: 35px;
    }
}
@media only screen and (min-width: 1400px) {
    .hero {
        left: 46px;
    }
}
@media only screen and (min-width: 1600px) {
    .hero {
        left: 60px;
    }
} */
.gameOver {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.hide {
    display: none;
}
.gameOver .wealth, .gameOver .moves {
    width: 30%;
}
.last {
    border-bottom: 5px solid green !important;
    border-right: 5px solid green !important;
}
.gameOver h1 {
    margin-top: 70px;
}
.gameScore .playAgain, .gameOver .playAgain {
    width: 200%;
    padding: 0px 5px;
    background: darkblue;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameOver .playAgain {
    width: 15%;
    height: auto;
    padding: 10px 5px;
    margin-top: 50px;
}
.gameScore .playAgain a, .gameOver .playAgain a {
    color: white;
    text-decoration: none;
}
.userInfo {
    width: 500%;
    margin: 20px 5px;
    font-weight: 400;
    font-size: 24px;
}